In [ ]:
# !pip install anthropic

In [ ]:
import sys
import time
import string
import numpy as np
import pandas as pd
import os
from pydantic import BaseModel, Field
import matplotlib.pyplot as plt
from google import genai
from google.genai import types
import openai
from openai import OpenAI

# from anthropic import Anthropic

# key from delegation OpenAI project
os.environ["OPENAI_API_KEY"] = "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"


# MODEL = "gpt-4o-2024-05-13"
# MODEL = "gpt-4o-mini-2024-07-18"
MODEL = "gpt-5-nano" # cheaper than 4o-mini!
# MODEL = "o1-2024-12-17"
# MODEL = "o3-mini-2025-01-31"
# MODEL = "meta-llama/Llama-3.2-3B-Instruct-Turbo"
# MODEL = "gemini-2.5-flash"

# list of claude models here: https://docs.anthropic.com/en/docs/about-claude/models/overview
# MODEL = "claude-3-5-haiku@20241022"
# MODEL = "claude-sonnet-4@20250514"
# MODEL = "claude-opus-4-20250514"

# list of llama models here: https://cloud.google.com/vertex-ai/generative-ai/docs/partner-models/llama/llama4-scout?utm_source=chatgpt.com
# MODEL = "meta-llama/Llama-4-Scout-17B-16E-Instruct"
# MODEL = "meta-llama/Llama-4-Maverick-17B-128E-Instruct-FP8"

# initialize client
client = genai.Client(
    vertexai=True,
    # project="accuracy-obsession",  # this links to my CC! Although credits might be in there before. Exceptions project is exceptions-467800
    # project = "exceptions-467800",
    location="us-central1"
)

In [2]:
# load lending club accepted data
import pandas as pd
df_accepted = pd.read_csv("gs://exceptions-data/LLM Delegation/LendingClub/data/accepted_2007_to_2018Q4.csv",
                          nrows = 100000) # just first 100k rows, for speed

df_accepted.head()

/tmp/ipython-input-2639878748.py:3: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df_accepted = pd.read_csv("gs://exceptions-data/LLM Delegation/LendingClub/data/accepted_2007_to_2018Q4.csv",

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
# load lending club rejected data
import pandas as pd
df_rejected = pd.read_csv("gs://exceptions-data/LLM Delegation/LendingClub/data/rejected_2007_to_2018Q4.csv",
                          nrows = 100000) # just first 100k rows, for speed

df_rejected.head()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0

In [7]:
df_accepted.head(10000).to_csv("gs://exceptions-data/LLM Delegation/LendingClub/data/accepted_10k.csv")
df_rejected.head(10000).to_csv("gs://exceptions-data/LLM Delegation/LendingClub/data/rejected_10k.csv")

In [ ]:
# combine data frames
# only these columns are shared across the two dfs
# zip code is also shared, but partially excluded (only three digits)
df = pd.concat([
    df_accepted.rename(columns={
        "loan_amnt": "loan_amnt",
        "title": "title",
        "addr_state": "addr_state",
        "emp_length": "emp_length",
        "policy_code": "policy_code",
    })[
        ["loan_amnt", "title", "addr_state", "emp_length", "policy_code"]
    ].assign(accepted=1),

    df_rejected.rename(columns={
        "Amount Requested": "loan_amnt",
        "Loan Title": "title",
        "State": "addr_state",
        "Employment Length": "emp_length",
        "Policy Code": "policy_code",
    })[
        ["loan_amnt", "title", "addr_state", "emp_length", "policy_code"]
    ].assign(accepted=0)
], ignore_index=True)


# clean title column
df["title"] = df["title"].str.lower().str.replace("_", " ", regex=False)

# clean length column
df["emp_length"] = df["emp_length"].map({"< 1 year":0, "1 year":1, "2 years":2, "3 years":3, "4 years":4, "5 years":5, "6 years":6, "7 years":7, "8 years":8, "9 years":9, "10+ years":10})

In [ ]:
df.head()

   loan_amnt               title addr_state  emp_length  policy_code  accepted
0     3600.0  debt consolidation         PA        10.0          1.0         1
1    24700.0            business         SD        10.0          1.0         1
2    20000.0                 NaN         IL        10.0          1.0         1
3    35000.0  debt consolidation         NJ        10.0          1.0         1
4    10400.0      major purchase         PA         3.0          1.0         1

In [ ]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

# reproducible split: ~30% train
train_frac = 0.3
rng = np.random.default_rng(42)

# --- split column ---
df["split"] = np.where(rng.random(len(df)) < train_frac, "train", "test")
features = ["loan_amnt", "addr_state", "emp_length"] # exclude title (far too many values, crashes random forest) and policy_code (equal to accepted)

# --- training / test masks ---
train_mask = (df["split"] == "train") & df[features + ["accepted"]].notnull().all(axis=1)
test_mask = df["split"] == "test"

# --- numeric imputation (train medians only) ---
num_cols = ["loan_amnt", "emp_length"]
medians = df.loc[train_mask, num_cols].median()
df.loc[:, num_cols] = df.loc[:, num_cols].fillna(medians)

# --- one-hot encode categorical features ---
X_train = pd.get_dummies(
    df.loc[train_mask, features],
    drop_first=False,
    dtype="uint8"
)
y_train = df.loc[train_mask, "accepted"].astype(int)

X_test = pd.get_dummies(
    df.loc[test_mask, features],
    drop_first=False,
    dtype="uint8"
)
X_test = X_test.reindex(columns=X_train.columns, fill_value=0)

# --- train random forest ---
rf = RandomForestClassifier(
    n_estimators=200,
    random_state=42,
    n_jobs=-1
)
rf.fit(X_train, y_train)

# --- predict on test set ---
probs = rf.predict_proba(X_test)[:, 1]
df.loc[test_mask, "rf_pred"] = (probs > 0.5).astype(int)
df.loc[test_mask, "rf_prob"] = probs

In [ ]:
import pandas as pd
import random

# scenario builder
def create_prompt_base(row):

    loan_amnt = int(round(row['loan_amnt']))
    emp_length = int(round(row['emp_length']))

    base = (
        f"Someone from {row['addr_state']} is applying for a loan of "
        f"${loan_amnt}."
    )

    if pd.notna(row['title']):
        base += f" The loan is for a {row['title']}."

    base += f" They have been employed for {emp_length} years. Person 1 is the loan officer."

    return base

In [ ]:
create_prompt_base(df.iloc[0])

'Someone from PA is applying for a loan of $3600. The loan is for a debt consolidation. They have been employed for 10 years. Person 1 is the loan officer.'

In [ ]:
from google import genai


# base LLM prompt
def get_llm_base(base_prompt, model_id=MODEL):

    # 1. Construct the one-shot prompt
    instructions = (
        "\n\nRespond with two numbers ONLY on two lines. "
        "First, respond 1 (accept) or 0 (reject) based on your prediction of Person 1's true decision. \n"
        "Second, respond 0 to implement your prediction of Person 1's true decision, "
        "or 1 if you would like to delegate to Person 1 so they can implement their true decision. \n"
        "A decision is considered 'correct' if it is equal to Person 1's true decision."
    )

    full_prompt = base_prompt + instructions

    # 2. Call the LLM

    # openAI version
    messages = [{"role": "user", "content": full_prompt}]
    response = openai.chat.completions.create(model=model_id, messages=messages)
    lines = response.choices[0].message.content.strip().split('\n')

    # gemini version
    # response = client.models.generate_content(
    #    model=model_id,
    #    contents=full_prompt
    # )
    # lines = response.text.strip().split('\n')


    # 3. Parse the response (extract numbers from the two lines)
    try:


        # Filter out empty lines if the LLM added extra spacing
        clean_lines = [line.strip() for line in lines if line.strip()]

        # save integer if there is one
        try:
            prediction = int(clean_lines[0])
            delegation = int(clean_lines[1])
        except (ValueError, TypeError, IndexError):
            prediction = None
            delegation = None

        return {
              "pred": prediction,
              "del": delegation
          }

    except (ValueError, IndexError):
        print(f"Error parsing LLM response: {response.text}")
        return None, None

In [ ]:
from google import genai

# LLM with the help of a random forest
def get_llm_rf(base_prompt, rf_pred, rf_prob, model_id=MODEL):

    # convert prediction to text
    rf_pred = "accept" if rf_pred == 1 else "reject"

    # 1. Construct the one-shot prompt
    instructions = (
        f"A random forest trained on a similar dataset predicts Person 1 would {rf_pred} the loan, "
        f"based on a predicted probability of {rf_prob:.3f} that Person 1 would accept the loan. "
        "\n\nRespond with two numbers ONLY on two lines. "
        "First, respond 1 (accept) or 0 (reject) based on your prediction of Person 1's true decision. \n"
        "Second, respond 0 to implement your prediction of Person 1's true decision, "
        "or 1 if you would like to delegate to Person 1 so they can implement their true decision. \n"
        "A decision is considered 'correct' if it is equal to Person 1's true decision."
    )



    full_prompt = base_prompt + instructions

    # 2. Call the LLM
    # OpenAI version
    messages = [{"role": "user", "content": full_prompt}]
    response = openai.chat.completions.create(model=model_id, messages=messages)
    lines = response.choices[0].message.content.strip().split('\n')

    # gemini version
    # response = client.models.generate_content(
    #    model=model_id,
    #    contents=full_prompt
    # )
    # lines = response.text.strip().split('\n')

    # 3. Parse the response (extract numbers from the two lines)
    try:

        # Filter out empty lines if the LLM added extra spacing
        clean_lines = [line.strip() for line in lines if line.strip()]

        # save integer if there is one
        try:
            prediction = int(clean_lines[0])
            delegation = int(clean_lines[1])
        except (ValueError, TypeError, IndexError):
            prediction = None
            delegation = None

        return {
              "full_prompt": full_prompt,
              "pred": prediction,
              "del": delegation,
              "rf_prob": rf_prob,
              "rf_pred": rf_pred
          }

    except (ValueError, IndexError):
        print(f"Error parsing LLM response: {response.text}")
        return None, None

In [ ]:
# auditor (multiple LLMs: a separate LLM does the critiquing and another one does the deciding)
def get_sequential_inference(base_scenario, model_name):
    try:
        # --- STEP 1: PREDICT & EXPLAIN (The Generator) ---
        # We ask for the "thought process" first. This improves the prediction.
        p1 = (f"{base_scenario}\n\n"
              "TASK: Predict Person 1's decision. First, explain your reasoning in 1 sentence. "
              "Then, conclude with 'PREDICTION: 1' (accept) or 'PREDICTION: 0' (reject).")

        messages_1 = [{"role": "user", "content": p1}]

        # OpenAI version
        r1 = openai.chat.completions.create(model=model_name, messages=messages_1)
        full_output = r1.choices[0].message.content.strip()

        # gemini version
        # r1 = client.models.generate_content(
        #    model=MODEL,
        #    contents=p1
        # )

        # 2. Extract the output (This replaces r1.choices[0].message.content)
        # full_output = r1.text.strip()


        import re
        preds = re.findall(r'PREDICTION:\s*([01])', full_output)
        pred = preds[-1] if preds else "0"

        # --- STEP 2: CRITIQUE (The Auditor) ---
        # NEW CHAT: A fresh perspective to find flaws in the logic above.
        p2 = (f"SCENARIO: {base_scenario}\n\n"
              f"PROPOSED LOGIC: {full_output}\n\n"
              "TASK: Critique this reasoning (1 sentence).")

        messages_2 = [{"role": "user", "content": p2}]

        # OpenAI version
        r2 = openai.chat.completions.create(model=model_name, messages=messages_2)
        critique = r2.choices[0].message.content.strip()

        # gemini version
        # r2 = client.models.generate_content(
        #    model=MODEL,
        #    contents=p2
        # )
        # critique = r2.text.strip()


        # --- STEP 3: FINAL DECISION (The Judge) ---
        # NEW CHAT: The final decision-maker weigh the prediction vs. the critique.
        p3 = (f"SCENARIO: {base_scenario}\n"
              f"PREDICTION & REASONING: {full_output}\n"
              f"CRITIQUE: {critique}\n\n"
              "TASK: Implement the prediction (0) or delegate to Person 1 (1). The ground truth is Person 1's preference.\n"
              "Respond with the digit ONLY.")

        messages_3 = [{"role": "user", "content": p3}]

        # OpenAI version
        r3 = openai.chat.completions.create(model=model_name, messages=messages_3)
        delegate = r3.choices[0].message.content.strip()

        # gemini version
        # r3 = client.models.generate_content(
        #    model=MODEL,
        #    contents=p3
        # )
        # delegate = r3.text.strip()


        return {
            "full_thought": full_output,
            "pred": pred,
            "critique": critique,
            "del": delegate
        }

    except Exception as e:
        return {"full_thought": str(e), "pred": "Err", "critique": "Err", "del": "1"}

In [ ]:
df.head()

,loan_amnt,title,addr_state,emp_length,policy_code,accepted,split,rf_pred,rf_prob
0,3600.0,debt consolidation,PA,10.0,1.0,1,test,0.0,0.241698
1,24700.0,business,SD,10.0,1.0,1,test,1.0,0.745000
2,20000.0,NaN,IL,10.0,1.0,1,test,1.0,0.504642
3,35000.0,debt consolidation,NJ,10.0,1.0,1,test,1.0,1.000000
4,10400.0,major purchase,PA,3.0,1.0,1,train,NaN,NaN

In [ ]:
import pandas as pd
import re
from concurrent.futures import ThreadPoolExecutor, as_completed



# THE MULTI-THREADED RUNNER
def call_llm(idx, row):

    ########################
    # DECIDE method to run #
    ########################
    # method to run
    # TEMP_METHOD = "base"
    # TEMP_METHOD = "sft"
    TEMP_METHOD = "random_forest"
    # TEMP_METHOD = "auditor"

    # base
    if TEMP_METHOD == "base":

      base = create_prompt_base(row)

      # Run the base LLM
      result = get_llm_base(base, MODEL) # standard call

      # 3. Save everything back to a copy of the row
      row_copy = row.copy()
      row_copy['prompt'] = base # the prompt
      row_copy['llm_prediction'] = result['pred']
      row_copy['llm_delegate'] = result['del']
      row_copy['human_response'] = row['accepted']  # Ground truth for accuracy
      row_copy['method'] = TEMP_METHOD # avoid mixing up methods

      return row_copy


    # random forest
    if TEMP_METHOD == "random_forest":

      base = create_prompt_base(row)

      # run LLM with rf probability
      result = get_llm_rf(base, row['rf_pred'], row['rf_prob'], model_id=MODEL)

      # save everything back as a copy of the row
      row_copy = row.copy()
      row_copy['prompt'] = base # the prompt
      row_copy['llm_prediction'] = result['pred']
      row_copy['llm_delegate'] = result['del']
      row_copy['rf_pred'] = row['rf_pred']
      row_copy['rf_prob'] = row['rf_prob']
      row_copy['human_response'] = row['accepted']  # Ground truth for accuracy
      row_copy['method'] = TEMP_METHOD # avoid mixing up methods

      return row_copy



    # auditor
    if TEMP_METHOD == "auditor":

      base = create_prompt_base(row)

      # Run the 3-step Metacognitive Loop
      # This now returns: pred, full_thought, critique, del
      # result = get_sequential_inference(base, MODEL) # different llms act as auditors
      result = get_sequential_inference(base, MODEL) # LLM is its own auditor

      # Save everything back to a copy of the row
      row_copy = row.copy()
      row_copy['prompt'] = base # the prompt
      row_copy['llm_full_thought'] = result['full_thought'] # The Reasoning + Prediction
      row_copy['llm_prediction'] = result['pred']         # Extracted digit from Step 1
      row_copy['llm_critique'] = result['critique']       # The Auditor's critique
      row_copy['llm_delegate'] = result['del']           # The Judge's final decision
      row_copy['human_response'] = row['accepted']         # Ground truth for accuracy
      row_copy['method'] = TEMP_METHOD # avoid mixing up methods

      return row_copy

In [ ]:
# get sample df (that wasn't used to train the random forest)
N_SAMPLES = 200
df_holdout = df.loc[df["split"] == "test"].copy() # only values from the testing set
sampled_rows = df_holdout.sample(n=N_SAMPLES) # can't have a random state, or we'll do the same values over and over!

# initialize results
results = []

# make call
with ThreadPoolExecutor(max_workers=5) as executor:
    futures = [executor.submit(call_llm, idx, row) for idx, row in sampled_rows.iterrows()]
    for f in as_completed(futures):
        results.append(f.result())

# save
df_results = pd.DataFrame(results)

In [ ]:
import datetime

# write file; add timestamp
df_results['timestamp'] = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

###########################################
# MAKE SURE THE FILE MATCHES TEMP_METHOD! #
###########################################
# path = 'gs://exceptions-data/LLM Delegation/LendingClub/Results/base_' + MODEL + '.csv'
path = 'gs://exceptions-data/LLM Delegation/LendingClub/Results/random_forest_' + MODEL + '.csv'
# path = 'gs://exceptions-data/LLM Delegation/LendingClub/Results/auditor_' + MODEL + '.csv'

# Load, append, and re-save
try:
    df_existing = pd.read_csv(path)
    df_results = pd.concat([df_existing, df_results], ignore_index=True)
except FileNotFoundError:
    pass

df_results.to_csv(path, index=False)